.jumbotron {
  background-image: url(linodepic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 250px;
}

@media only screen and (min-width : 321px) {
  .jumbotron {
    min-height: 325px;
    background-position: right;
  }
}
@media only screen and (min-width : 768px) {
  .jumbotron {
    min-height: 425px;
  }
}
@media only screen and (min-width : 1024px) {
  .jumbotron {
    min-height: 525px;
  }
}

.fa {
  font-size:36px;
  color:black;
}
.icons {
  width: 200px;
  margin: auto;
}
