.jumbotron {
  background-image: url(IMG_1104.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 250px;
}

@media only screen and (min-width : 321px) {
  .jumbotron {
    min-height: 325px;
  }
}
@media only screen and (min-width : 768px) {
  .jumbotron {
    min-height: 525px;
  }
}
@media only screen and (min-width : 1024px) {
  .jumbotron {
    min-height: 725px;
  }
}
